<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptodos | Add To List</title>
</head>
<body>
  <form action="/todos" method="post">
  <label for="newitem">Add item:</label>
  <input type="text" id="newitem" name="newitem">
  <input type="submit" value="Submit">
  </form>
</body>
</html>